@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Jost:ital,wght@0,100..900;1,100..900&family=Libre+Barcode+39+Text&family=Orbitron:wght@900&family=Playwrite+VN+Guides&display=swap");

.banner-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  min-height: 90vh;
  overflow: hidden;
}

.banner-content {
  width: 100%;
  max-width: 900px;
  height: 90vh;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  background-color: #F9F9F9;
  /* background: linear-gradient(to bottom right, #f8fafc, #ebf8ff, #f3e8ff); */
}

.greeting {
  font-size: 1.5rem;
  color: #6C63FF;
  text-align: left;
  letter-spacing: 1px;
  font-family: "Castoro", serif;
  font-weight: 400;
  font-style: normal;
}

.name,
.role {
  font-size: 3.8rem;
  font-weight: bold;
  color: #1A1A1A;
  text-align: left;
  font-family: "Castoro", serif;
  font-weight: 400;
}

.name span {
  color: #6C63FF;
  font-weight: bold;
}

.description {
  font-size: 1.2rem;
  color: #1b1b1b;
  text-align: left;
  letter-spacing: 0.5px;
  font-weight: 400;
  margin-top: 10px;
}

.home-buttons-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 18px;
  margin-top: 20px;
}

.home-buttons-card button {
  width: 40%;
  outline: none;
  cursor: pointer;
  letter-spacing: 3px;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 20px;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.view-my-work-btn {
  background-color: #1b1b1b;
  color: #e7e7e7;
  border: none;
}

.download-resume-btn {
  background-color: transparent;
  color: #000000;
  border: 2px solid #000000;
}

.arrow-icon {
  fill: #e7e7e7;
}

.download-icon {
  fill: #000000;
}

.get-my-cv-lg-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
}

.horizontal-lg-line {
  width: 50%;
  height: 1px;
  background-color: #e7e7e7;
}

.get-my-cv-lg-container .get-in-touch-btn {
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 13px 16px;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

.get-my-cv-lg-container .get-in-touch-btn {
  border: 1px solid #e7e7e7;
  width: 200px;
  height: 50px;
}

.banner-image {
  width: 50vw;
  height: 90vh;
  object-fit: cover;
  object-position: center;
  background-image: url("https://themewagon.github.io/Hudson/images/intro-bg.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  /* border: 2px solid red; */
}

/* Banner large screen social icons container */

.banner-social-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  /* border: 2px solid #e7e7e7; */
  padding: 10px;
  height: 60%;
}

.social-icon,
.down-arrow-icon {
  fill: #e7e7e7;
  font-size: 1.5rem;
  transition: all 0.3s ease-in-out;
}

.social-icon:hover {
  fill: #ffffff;
  transform: translateY(-6px);
}

.down-arrow-icon:hover {
  fill: #ffffff;
  transform: translateY(-6px);
}

.vertical-line {
  width: 1px;
  height: 100px; /* or another suitable fixed height */
  background-color: #e7e7e7;
  margin-left: 50%;
  margin-top: 5px;
  margin-bottom: 10px;
}
/* Social media icons inside circle btn */
.circle-btn {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  border: 1.5px solid #e7e7e7;
  background-color: transparent;
}

@media screen and (max-width: 768px) {
  .banner-container {
    background-image: url("https://themewagon.github.io/Hudson/images/intro-bg.jpg");
    background-size: cover;
    background-position: center;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items: center;
    /* margin-top: 64px; */
  }

  .banner-content {
    width: 100%;
    height: auto;
    padding: 15px;
    margin-top: 155px;
    background-color: transparent;
  }

  .greeting {
    font-size: 1.2rem;
    align-self: center;
  }

  .name,
  .role {
    font-size: 2rem;
    text-align: center;
    width: 100%;
    margin: 2px 0;
    color: #e7e7e7;
  }
  .name span {
    color: #ffffff;
  }

  .description {
    font-size: 1rem;
    text-align: center;
    color: #e7e7e7;
  }

  .home-buttons-card button {
    width: 95%;
    padding: 18px;
    font-size: 0.9rem;
  }

  .view-my-work-btn {
    background-color: #e7e7e7;
    color: #1b1b1b;
  }

  .download-resume-btn {
    background-color: transparent;
    color: #e7e7e7;
    border: 2px solid #e7e7e7;
  }

  .arrow-icon {
    fill: #1b1b1b;
  }

  .download-icon {
    fill: #e7e7e7;
  }
  .banner-image {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .home-buttons-card {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}
